* {
    box-sizing: border-box; 
    margin: 0; 
}

a {
    font-family: 'Courier New', Courier, monospace; 
}

nav {
    color: white; 
    font-weight: bold; 
   
}

.navbar-brand {
    font-size: 36px; 
}

body {
    background-image: url("images/Grey-and-White-Dog-Paw-Print-Pattern-Wallpaper-Mural-Plain.jpg"); 
}
.main-area {
    margin: auto; 
    width: 80%; 
    padding: 40px; 
    background-color: white; 
}

button {
    margin: 5px; 
}

.gif {
    width: 30%; 
    height: 30%;
    padding: 5px;
    margin: 5px;    
    background-color: white;
}

